@import "../../../../scss/default";

.m_question_head .left_number {
    color: $plataform-color-5;
    float: left;
    font-size: 4em;
    margin: 0;
    padding: 0px 5px;
    span {
        font-size: 30px;
    }
}

.m_question_head .left_question {
    color: #2b3d4e;
    margin-left: 55px;
    font-size: 22px;
    margin-bottom: 0px;
}

.m_question_head p {
    display: inline-block;
    background-color: $plataform-color-1;
    color: $plataform-color-5;
    font-size: 12px;
    padding: 8px 8px 3px 8px;
    margin-top: 5px;
}

p {
    margin: 0 0 10px;
}

.m_question_head p.hard {
    color: #fff;
    background-color: $plataform-color-6;
}

.m_question_head p {
    display: inline-block;
    background-color: #2b3d4e;
    color: $plataform-color-5;
    font-size: 12px;
    padding: 4px 8px 3px 8px;
    margin-top: 5px;
}

p {
    margin: 0 0 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

.m_question_head hr {
    border: 1px solid $plataform-color-6;
    margin: 0;
    padding: 0;
    margin-top: -5px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 15%!important;
    margin-left: 5%!important;
}

hr {
    box-sizing: content-box;
    height: 0;
}
