//==Colors

$white: #ffffff;

//grays default
$gray-color-1: #ccc;
$gray-color-2: #555;
$gray-color-3: #343436;
$gray-color-4: #28282B;
$gray-color-5: #1E1E1E;
$gray-color-6: #111;

//plataforma
$plataform-color-1: #2B3D4E;
$plataform-color-2: #1275A0;
$plataform-color-3: #2097C2;
$plataform-color-4: #1486C6;
$plataform-color-5: #EA9421;
$plataform-color-6: #E23A33;
$plataform-color-sidebar: #374B59;

//Provas
$proof-color-1: #E4585F;
$proof-color-2: #AA5E62;
$proof-color-3: #C74F43;

//Conteúdo
$content-color-1: #07A9DD;
$content-color-2: #508EB4;
$content-color-3: #40748E;

//Tarefa
$assignment-color-1: #F9C646;
$assignment-color-2: #D7C04D;
$assignment-color-3: #D4A74C;

//Video
$video-color-1: #39A857;
$video-color-2: #6BA96D;
$video-color-3: #5D8B5D;

//Resolução
$resolucao-color-1: #EA772A;
$resolucao-color-2: #D96C23;

//Jogos
$jogos-color-1: #9763A3;
$jogos-color-2: #9B76AF;

//Texto de apoio
$apoio-color-1: #EA6A98;
$apoio-color-2: #DE789C;




//Utilities

$Color-util-sucess: #2DA82D;
$Color-util-warning: #EDBD35;
$Color-util-error: #E23A33;


//ListAlternative

$List-alt-1: #307AA3;
$List-alt-2: #348CC8;

$List-alt-select-1:#EECB57;
$List-alt-select-2:#C4A449;


$Correct-alternative-border:#6BA96D;
$Correct-alternative-radio:#7BB07B;

$Incorrect-alternative-border:#CD6E6F;
$Incorrect-alternative-radio:#C74F43;

$Radio-inner-color:#EECB57;

//Button List
$List-btn-1: #6BA96D;
$List-btn-2: #7BB07B;
$List-btn-3: #555;

//Aba Jogos
$Game-color-primary:#D59A4F;
$Game-color-Complement:#C48139;
$Game-color-Complement2:#B56523;


//player
$azul-txt-escuro: #00416C;
$verde-primary: #6CC3E1;
$azul-bg: #1C3B4E;
$azul-nav: #3887BC;
//botoes
$bot-ok: #54AC42;
$bot-cancel: #E55A5E;
$bot-default: white;
$branco: white;



/// cores video
    
$color-1:#2B3D4E;
$color-2:#3687bb;
$color-3:#21a7de;
$color-4:#f9e926;
$color-5:white;



