<nav class="navbar navbar-provas fixed-top">
    <h1><a routerLink="/home"><img class="logo-topo" src="assets/Images/logo-in.svg"></a></h1>    
    <ul class="navbar-right row">
        <li class="user-name">
            <p>Olá, <span> {{ nomeDoUsuario }}! </span></p>
        </li>
        <li class="icon-user-name">
            <a href="javascript:void(0)" class="nav-link">
              <i class="fa fa-user-circle-o fa-2x" title="Usuário"></i>
            </a>
        </li>
        <li class="btn-exit">
            <a (click)="sair()" href="javascript:void(0)" id="deslogar" class="nav-link">
              <i class="fa fa-power-off fa-2x" title="Sair"></i>
            </a>
        </li>
    </ul>
  </nav>
