@import "../../../../scss/componentes-boot/_variables";


:host /deep/ .conteudo-change{
    text-align:center;
    transition:all ease-in-out 0.2s;
    @media #{$mobile}{
        height: auto;
        padding-top: 10px;
        padding-bottom: 0px;
        
    }
    img{
        height:340px;
        @media #{$tablet}{
            height:260px;
            width: auto; 
        }
        @media #{$mobile}{
        }
        @media (max-width: 370px) {
            height: 100%;
            
        }
    }

}

.hide-change-video {
    display:none !important;
}

:host /deep/ .hide-change-video {
    display:none !important;
}
