/* You can add global styles to this file, and also import other style files */
.st0 {
    fill: #FFFFFF;
}
.st1 {
    fill: #7BAF7B;
}
.st2 {
    fill: #e5625c;
}


body {
    // color: white !important;
}
input, select {
    border-radius: 0 !important;
}